h1 {
    color: brown;
}

img{
    border: solid;
}

.header{
    background-color:yellow;
    display:flex; 
    justify-content: center;
    border:solid;
}

.header2{
    justify-content:flex-start;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display:flex;
    justify-content: flex-end;

}

p,h2{
    text-align: center;
     
}
body{
    background-color: #6495ed;
    font-size: medium;
}

